#content{
    padding-top: 2%;
}

.userPhoto{
    width: 100%;
    border-radius: 50%;
}

.mainUserName{
    text-align: center;
    font-weight: 500;
    margin-top: 4%;
}

.nav-tabs .row{
    width: 100%;
}

.nav-tabs{
    border-bottom: none;
}

.nav-tabs li{
    text-align: center;
    font-size: 120%;
}

.nav-tabs li a.active{
    color: #999;
}
table.ordersTable{
    width: 100%;
    margin-top: 2%;
}

tr.headerTable{
    background-color: #565656;
}

tr.headerTable th{
    color: white;
}

ul.itemsList{
    list-style: none;
}

td.status{
    font-weight: bold;
}

.btn-saveSelfInf, .btn-addr{
    background-color: #565656;
    color: white;
    width: 20%;
    float: right;
    text-transform: uppercase;
}
