#content{
    padding-top: 2%;
}

.userPhoto{
    width: 100%;
    border-radius: 50%;
}

.nav-tabs .row{
    width: 100%;
}

.nav-tabs{
    border-bottom: none;
}

.nav-tabs li{
    text-align: center;
}